@media screen and (max-width: 1140px) {

    .about__body {
        flex-direction: column;
        align-items: center;
    }

    .about__info {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .proposal__heading {
        flex-direction: column;
        align-items: center;
    }

    .proposal__title {
        margin-bottom: 29px;
    }

    .proposal__title::before {
        top: 150%;
        left: calc(50% - 25px);
    }

    .proposal__text {
        max-width: 100%;
        margin-bottom: 15px;
    }
    
    .footer__body-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__info {
        max-width: 65%;
        margin-bottom: 20px;
        align-items: center;
    }

    .footer__links {
        margin-bottom: 20px;
    }

    .footer__links-lists {
        justify-content: space-between;
    }

    .footer__contact {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .footer__contact-address,
    .footer__contact-tel,
    .footer__contact-email {
        margin-bottom: 7px;
    }

    .footer__icon-img {
        width: 200%;
    }

}

@media screen and (max-width: 768px) {
    .header__title {
        font-size: 38px;
    }

    .nav__list {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .about__body {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 690px) {

    .about__cards {
        width: 100%;
        justify-content: space-between;
    }

    .about__card {
        width: 30%;
        height: 120px;
        margin: 0;
    }

    .about__card-title {
        width: 50px;
        font-size: 16px;
        line-height: 19px;
    }  

    .proposal__cards {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .proposal__card {
        width: 100%;
        margin-bottom: 15px;
    }

    .order__title {
        font-size: 20px;
    }

    .footer__form-group {
        flex-direction: column;
        align-items: center;
    }

    .footer__form-title {
        margin: 0;
    }

    .footer__form-input {
        width: 100%;
    }

    .footer__form-group .button {
        width: 100%;
    }

}



