/*Gamburger menu*/

@media screen and (max-width: 1140px) {

    .about__body {
        flex-direction: column;
        align-items: center;
    }

    .about__info {
        max-width: 100%;
    }

    .proposal__heading {
        flex-direction: column;
        align-items: center;
    }

    .proposal__title {
        margin-bottom: 15px;
    }

    .proposal__title::before {
        content: '';
        position: absolute;
        top: 120%;
        left: calc(50% - 25px);
        width: 50px;
        height: 2px;
        background: #00A4E5;
    }

    .proposal__text {
        max-width: 100%;
        margin-bottom: 15px;
    }


}

@media screen and (max-width: 768px) {
    .header__title {
        font-size: 38px;
    }

    .nav__list {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .about__container {
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .about__body {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .about__info {
        max-width: 78%;
        margin-bottom: 10px;
    }

    .about__cards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 690px) {

    .about__container {
        padding: 15px 0 50px;
    }

    .about__title {
        margin-bottom: 60px;
    }

    .about__cards {
        width: 78%;
        justify-content: space-between;
    }

    .about__card {
        width: 30%;
        height: 100px;
        margin: 0;
    }

    .about__card-title {
        width: 50px;
        font-size: 16px;
        line-height: 19px;
    }  
    
    .proposal__container {
        padding-bottom: 0px;
    }

    .proposal__heading {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .proposal__title,
    .proposal__text {
        margin-bottom: 15px;
    }

    .proposal__cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .proposal__card {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer__form-group {
        flex-direction: column;
        align-items: center;
    }

    .footer__form-title {
        margin: 0;
    }

    .footer__form-input {
        width: 100%;
    }

    .footer__form-group .button {
        width: 100%;
    }

    .footer__body-container {
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer__info-title {
        margin-bottom: 10px;
    }

    .footer__links-lists {
        justify-content: space-between;
    }

    .footer__links {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__contact {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .footer__icon-img {
        width: 200%;
    }
}



